{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "block-no-empty": true,
    "unit-allowed-list": ["%", "rem"],
    "order/order": [
      "custom-properties",
      "declarations"
    ],
    "order/properties-alphabetical-order": true,
    "length-zero-no-unit": true,
    "font-family-no-missing-generic-family-keyword": null
  }
}